@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #244545;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: url('/back.jpg') center / cover no-repeat;
  width: 1140px;
  padding: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
  margin: 10px 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
  padding-right: 25px;
}
